.splash {
  height: 80vh;
  background-image: url('../../../../../assets/images/material-bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

mat-card {
  position: relative;
  top: 20%;
  background-color: transparent;
}

.cent {
  top: 40%;
}

.section {margin-bottom: 2%}


.fas {
  animation-name: icon;
  animation-iteration-count: infinite;
  animation-duration: .8s;
  animation-direction: alternate;
}

@keyframes icon {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);}
  to {
    transform: translateY(-10px);
  }
}
