
<div style="padding-top: 5%;">
  <div class ="container">
    <mat-card class="mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>
          <h3>Steven Ly</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h5>Software Developer</h5>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h5> Email: stevenly1616@gmail.com</h5>
        <h5>Phone: (619)-549-5693</h5>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<form class="container-fluid" style="padding: 3%;" #contactForm="ngForm" (ngSubmit)="submit(contactForm)">
  <mat-card class="mat-elevation-z6">

  <div class="form-group">
    <label for="fullName">Name</label>
    <input 
      required 
      ngModel 
      name="fullName" 
      id="fullName" 
      #fullName="ngModel" 
      type=text 
      class="form-control">
    <div class="alert alert-danger" *ngIf="fullName.touched && !fullName.valid">A name must be specified</div>
  </div>
  
  <div class="form-group" style="padding-bottom: 1%;">
    <label for="comment">Comment</label>
    <textarea 
      ngModel 
      name="comment" 
      #comment="ngModel" 
      required
      id="comment" 
      cols="30" 
      rows="10" 
      class="form-control"></textarea>
    <div class="alert alert-danger" *ngIf="comment.touched && !comment.valid">Comment must include some type of text</div>
  </div>

  <!-- disables if required fields are not valid -->
  <button class="btn btn-primary" [disabled]="!contactForm.valid">Submit</button>

  </mat-card>
</form>


<!-- TODO: 
○ Start creating contact form either email to mxmailer or hook it up to a db (<- :[ ))
-->

