mat-card {
  position: relative;
}

mat-card button {
  position: absolute;
  bottom: 2%;
  left:50%;
  transform: translateX(-50%);
}

.section {margin-bottom: 2%}

.project-card {
  height: 100%;
}

[class*="col-"] {
  
  border: 3px solid transparent;
}

mat-card-content {
  padding-bottom: 4%;
}