mat-card {
  position: relative;
}

mat-card button {
  position: absolute;
  bottom: 2%;
  left:50%;
  transform: translateX(-50%);
}

.project-card {
  height: 100%;
}

[class*="col-"] {
  padding-bottom:3%;
  /* border: 5px solid transparent; */
}

mat-card-content {
  padding-bottom: 4%;
}
