.example-spacer {
  flex: 1 1 auto;
}

.navbar-item {
  margin: 0 2%;
}

.pointer {
  cursor:pointer;
}

.notmoved {
  background-color: transparent;
  z-index: 1000;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  z-index: 1000;
  position: fixed;
  transition: .5s ease-in-out;
}
.moved {
  background-color: gray;
  position: fixed;
  width: 100%;
  font-size: 2rem;
  color: white;
  z-index: 1000;
  transition: .5s ease-in-out;
}