a {
  color: white;
}

a:hover {
  color: aquamarine;
}

.fab {
  padding: 1%;
  font-size: 24px;
}

/*Padding on bottom to remove white line underneath footer*/
mat-toolbar {
  padding-bottom: 4px;
}